<phpunit bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" colors="true">
    <testsuite name="FAQ Module Test Suite">
        <directory>tests/unit</directory>
    </testsuite>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">tests/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
